## I. Import Library

In [1]:
# Import library

import pandas as pd
import numpy as np
import pickle
import json

## II. Load Model

In [2]:
# Load all files

with open('list_cat_cols.txt', 'r') as file_1:
  list_cat_cols = json.load(file_1)

with open('list_num_cols.txt', 'r') as file_2:
  list_num_cols = json.load(file_2)

with open('model_scaler.pkl', 'rb') as file_3:
  scaler = pickle.load(file_3)

with open('model_encoder.pkl', 'rb') as file_4:
  encoder = pickle.load(file_4)

with open('model_lin_reg.pkl', 'rb') as file_5:
  model_lin_reg = pickle.load(file_5)

## III. Inferencing

In [3]:
#Create new data

data_inf = pd.DataFrame({
    'hour'          : [6.0, 12.0, 8.0, 10.0, 16.0],
    'day'           : [30.0, 1.0, 9.0, 10.0, 15.0],
    'distance'      : [1.11, 19.4, 12.2, 3.9, 2.7],
    'temperature'   : [40.13, 12.10, 35.10, 18.15, 45.10],
    'cab_type'      : ['Uber', 'Lyft', 'Uber', 'Lyft', 'Uber'],
    'name'          : ['Black', 'Lyft XL', 'UberPool', 'Lux Black', 'UberX']
})

#data_inf = pd.DataFrame([data_inf])
data_inf

   hour   day  distance  temperature cab_type       name
0   6.0  30.0      1.11        40.13     Uber      Black
1  12.0   1.0     19.40        12.10     Lyft    Lyft XL
2   8.0   9.0     12.20        35.10     Uber   UberPool
3  10.0  10.0      3.90        18.15     Lyft  Lux Black
4  16.0  15.0      2.70        45.10     Uber      UberX

In [4]:
# Split between numerical columns and categorical columns

data_inf_num = data_inf[list_num_cols]
data_inf_cat = data_inf[list_cat_cols]
data_inf_num

   hour   day  distance  temperature
0   6.0  30.0      1.11        40.13
1  12.0   1.0     19.40        12.10
2   8.0   9.0     12.20        35.10
3  10.0  10.0      3.90        18.15
4  16.0  15.0      2.70        45.10

In [5]:
# Feature scaling and feature encoding

data_inf_num_scaled = scaler.transform(data_inf_num)
data_inf_cat_encoded = encoder.transform(data_inf_cat)
data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_encoded], axis = 1)

In [6]:
# Predict using Linear Regression

y_pred_inf = model_lin_reg.predict(data_inf_final)
y_pred_inf

array([17.30534073, 65.30430286, 37.95213193, 28.00740701, 11.35682521])